.landing-bg{
    height: 95vh;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('../../assets/bg.jpg');
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    width: 100%;
}

.content{
    display: block;
    width: 80%;
    /* background-color: red; */
    text-align: center;
    padding-top:200px;
    margin: 0 auto;
    color: white;
}

.content h1{
    font-size: 45px;
}

.content p{
    font-size: 20px;
}

.content .btn{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
